{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}
<i class="bi bi-people-fill"></i> Employee Detail
{% endblock %}

{% block content %}
<style>
    .text {
        color: #293D9B;
        margin:0;
    }
</style>
<div class="container bootdey flex-grow-1 container-p-y mb-3">
    <div class="media align-items-center py-3">
      <div class="media-body ml-4">
        <h4 class="font-weight-bold mb-0">{{employee.full_name}}<span class="text-muted font-weight-normal"></span></h4>
        <div class="text-muted mb-2">ID: {{employee.id}}</div>
        <a href='{% url "employee_edit" employee.id %}?next={{request.GET.next}}' class="btn btn-primary btn-sm">Edit</a>&nbsp;
        <a href='{{request.META.HTTP_REFERER}}' class="btn btn-default btn-sm">Profile</a>&nbsp;
      </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card">
          <hr class="border-light m-0">
          <div class="card-body">

            <h6 class="mt-2 mb-3">Personal Info</h6>
    
            <table class="table user-view-table m-0">
                <tbody>
                <tr>
                  <td>First Name :</td>
                  <td>{{employee.first_name}}</td>
                </tr>
                <tr>
                  <td>Last Name :</td>
                  <td>{{employee.last_name}}</td>
                </tr>
                <tr>
                  <td>Gender :</td>
                  <td>{{employee.gender}}</td>
                </tr>
                <tr>
                  <td>Email :</td>
                  <td>{{employee.email_address}}</td>
                </tr>
              </tbody>
            </table>
    
            <h6 class="mt-4 mb-3">Detail Info</h6>
    
            <table class="table user-view-table m-0">
              <tbody>
                <tr>
                    <td>Title :</td>
                    <td>{{employee.fk_position_id.title}}</td>
                </tr>
                <tr>
                    <td>Department :</td>
                    <td>{{employee.fk_position_id.department}}</td>
                </tr>
                <tr>
                    <td>Date Joined :</td>
                    <td>{{employee.start_date}}</td>
                </tr>
                <tr>
                    <td>Date Left :</td>
                    <td>{{employee.end_date}}</td>
                </tr>
                <tr>
                    <td>Status :</td>
                    <td>{{employee.has_resigned}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

      </div>
    </div>


    
</div>


{% endblock %}