Django==4.0.3
Django==4.2.8
django_phonenumber_field==7.2.0
django_slick_reporting==1.3.0
gspread==6.2.0
gspread_dataframe==3.3.1
pandas==1.5.3
pandas==2.0.2
pendulum==3.0.0
phonenumbers==8.13.27
polars==1.25.2
protobuf==6.30.1
PyDrive==1.3.1
six==1.16.0
