{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} 
<i class="bi bi-bar-chart-fill"></i> Dashboard
{% endblock %}

{% block content %}
    <div class="position-relative" style="width: 100%">
    
      <div class="mb-2">
        <div class="d-flex flex-row">
          <div class="p-2">
            <a class="btn btn-success" href="{% url 'update_dashboard' %}">
              Update Dashboard
            </a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="position-relative" style="width:100%">
      <div style="width: 100%; height: 100%;">
          <iframe width="100%" height="100%" src="https://lookerstudio.google.com/embed/reporting/882b1067-eead-449d-8db9-68a3fad4838f/page/qjeoD" frameborder="1" style="border: 1px solid black;"></iframe>
      </div>
    </div>

    
<style>
  div.fixed {
    left: 200px;
    position: fixed;
    width: 50%;
    bottom: 10px;
  }
</style>

<script>
  function listCheckBoxes() {
    var checkedBoxes = document.querySelectorAll(
      "input[name=mycheckboxes]:checked"
    );
    console.log(checkedBoxes);
  }

  function delete_row(selected_row) {
    console.log(selected_row);
    document.getElementById("confirm_delete_button").href = selected_row.getAttribute("href");
  }
</script>
{% endblock %}
