{% load static %}
{% load widget_tweaks %}

{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biological Database</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href={% static "signup/style.css"%}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>
{% block content%}
<body>
    <div class="background-image"></div>
    <div class="d-flex align-items-center container" style="min-height: 100vh">
        <div class="row w-100">
            <div class="col-sm-6" id="login-icon">
                <img src={% static "login/login-icon.svg"%}/>
            </div>
            <div class="col-sm-5">
                <div class="sign_up">Sign Up</div>
                <div class="d-flex justify-content-center mb-5">
                    <form class="sign_up_form" method="post">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in messages %}
                                    <p class="text-danger mx-0 my-0">{{ error }}</p>
                                {% endfor %}
                            </div>                           
                        {% endif %}

                        <div class="form-group">
                            <label for="email">Email</label>
                            {{form.email|attr:"placeholder:name@example.com"|attr:"class:form-control mb-3"|attr:"id:email"}}
                            {{form.email.errors.as_ul }}
                        </div>

						<div class="form-group ">
                            <label for="username ">Username</label>
                            {{form.user_name|attr:"placeholder:Username"|attr:"class:form-control mb-3"|attr:"id:username"|attr:"autocomplete:off"}}
                            {{form.user_name.errors.as_ul }}
                        </div>
						
						<div class="form-group ">
                            <label for="password ">Password</label>
                            {{form.password1|attr:"placeholder:Password"|attr:"class:form-control mb-3"|attr:"id:password"}}
                            {{form.password1.errors.as_ul }}
                        </div>

						<div class="form-group ">
                            <label for="confirm_password ">Confirm Password</label>
                            {{form.password2|attr:"placeholder:Repeat Password"|attr:"class:form-control mb-3"|attr:"id:password-repeat"}}
                            {{form.password2.errors.as_ul}}
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="mt-2">Register</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center ">
                    <img class="uwa_logo " src={% static "login/uwa-logo.svg"%} />
                </div>

            </div>
        </div>


</body>
{% endblock %}
</html> {% endcomment %}



<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href={% static "base/signin.css"%} rel="stylesheet">
</head>

<body class="text-center">
    
<main class="form-sign-up">
    <form class="sign_up_form" method="post">
        {% csrf_token %}
        {% comment %} <i class="bi bi-lock"></i> {% endcomment %}
        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for error in messages %}
                <p class="text-danger mx-0 my-0">{{ error }}</p>
            {% endfor %}
        </div>                           
        {% endif %}
        <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
            <label for="email">Email address</label>
            {{form.email.errors.as_ul }}
        </div>
        <div class="form-floating">
            <input type="username" class="form-control" id="user_name" placeholder="Username" name="user_name">
            <label for="user_name">Username</label>
            {{form.user_name.errors.as_ul }}
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password1" placeholder="Password" name="password1">
            <label for="password1">Password</label>
            {{form.password1.errors.as_ul }}
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password2" placeholder="Repeat Password" name="password2">
            <label for="password2">Confirm Password</label>
            {{form.password2.errors.as_ul }}
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
  </form>
</main>

</body></html>