{% load static %}
{% load widget_tweaks %}

{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biological Database</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href={% static "password_reset/style.css"%}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>
{% block content%}
<body>
    <div class="background-image"></div>
    <div class="d-flex align-items-center container" style="min-height: 100vh">
        <div class="row w-100">
            {% if validlink %}
            <div class="col-sm-6" id="login-icon" style="top:40px">
                <img src={% static "password_reset/login-icon.svg"%}/>
            </div>
            <div class="col-sm-5">
                <div class="main-text" style="margin-bottom:1rem;">Reset Password</div>
                <div class="text mb-3">Please enter your new password twice</div>

                {% if form.new_password1.errors or  form.new_password2.errors%}
                <div class="d-flex justify-content-center mb-4">
                    <div class="alert alert-danger" role="alert" style="width:90%;margin-bottom:0;">
                        <ul>
                        {% for error in form.new_password1.errors %}
                            <li class="text-danger mx-0 my-0">{{ error }}</li>
                        {% endfor %}
                        {% for error in form.new_password2.errors %}
                            <li class="text-danger mx-0 my-0">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>  
                </div>                         
                {% endif %}
                <div class="d-flex justify-content-center mb-4">
                    <form class="main_form" method="post">
                        {% csrf_token %}
                        
                        <div class="form-row field-password1">
                            <label for="id_new_password1">New password:</label>
                            {{ form.new_password1 |attr:"placeholder:Password"|attr:"class:form-control mb-4"|attr:"id:password"|attr:"autocomplete:off"}}
                        </div>
                        <div class="form-row field-password2">
                            <label for="id_new_password2">Confirm password:</label>
                            {{ form.new_password2 |attr:"placeholder:Repeat Password"|attr:"class:form-control mb-4"|attr:"id:password-repeat"|attr:"autocomplete:off"}}
                        </div>

                        <div class="form-group">
                            <button type="submit" class="mt-2">Confirm</button>
                        </div>
                    </form>
                </div>

                {% else %}
                <div class="col-sm-6" id="login-icon" style="top:0px">
                    <img src={% static "password_reset/login-icon.svg"%}/>
                </div>
                <div class="col-sm-5">
                    <div class="main-text" style="margin-bottom:1rem;">Reset Password</div>
                    <div class="text">The password reset link was invalid,</div>
                    <div class="text">possibly because it has already been used.</div>
                    <div class="text mb-2">Please request a new password reset.</div>
                    
                    <div class=" w-100">
                        <div class="d-inline-block text-center w-100">
                            <a href="/accounts/password_reset" style="text-decoration:none;font-weight:800;" class="fs-4">Forgot Password</a>
                        </div>
                    </div>
                {% endif%}
                <div class="d-flex justify-content-center mt-5">
                    <img class="uwa_logo " src={% static "login/uwa-logo.svg"%} />
                </div>

            </div>
        </div>
</body>
{% endblock %} {% endcomment %}



</html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href={% static "base/signin.css"%} rel="stylesheet">
</head>

<body class="text-center">
    
<main class="form-sign-up">
    {% if validlink %}
    <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
    <h1 class="h5 mb-3 fw-normal">Please enter your new password twice</h1>

    {% if form.new_password1.errors or form.new_password2.errors%}
    <div class="d-flex justify-content-center mb-4">
        <div class="alert alert-danger" role="alert" style="width:90%;margin-bottom:0;">
            <ul>
            {% for error in form.new_password1.errors %}
                <li class="text-danger mx-0 my-0">{{ error }}</li>
            {% endfor %}
            {% for error in form.new_password2.errors %}
                <li class="text-danger mx-0 my-0">{{ error }}</li>
            {% endfor %}
            </ul>
        </div>  
    </div>                         
    {% endif %}
    
    <form class="main_form" method="post">
        {% csrf_token %}
        
        <div class="form-floating">
            <input type="password" class="form-control" id="new_password1" placeholder="Password" name="new_password1">
            <label for="new_password1">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="new_password2" placeholder="Repeat Password" name="new_password2">
            <label for="new_password2">Confirm Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Confirm</button>
    </form>

    {% else %}
    <form class="sign_up_form" method="post">
        <div class="main-text" style="margin-bottom:1rem;">Reset Password</div>
        <div class="text">The password reset link was invalid,</div>
        <div class="text">possibly because it has already been used.</div>
        <div class="text mb-2">Please request a new password reset <a href="/accounts/password_reset" style="text-decoration:none;font-weight:800;" class="fs-4">Here</a>
    </form>
    {% endif%}
  
</main>



