{% load static %}
{% load widget_tweaks %}

</html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href={% static "base/signin.css"%} rel="stylesheet">
</head>

<body class="text-center">
    
<main class="form-sign-up">
    {% if validlink %}
    <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
    <h1 class="h5 mb-3 fw-normal">Please enter your new password twice</h1>

    {% if form.new_password1.errors or form.new_password2.errors%}
    <div class="d-flex justify-content-center mb-4">
        <div class="alert alert-danger" role="alert" style="width:90%;margin-bottom:0;">
            <ul>
            {% for error in form.new_password1.errors %}
                <li class="text-danger mx-0 my-0">{{ error }}</li>
            {% endfor %}
            {% for error in form.new_password2.errors %}
                <li class="text-danger mx-0 my-0">{{ error }}</li>
            {% endfor %}
            </ul>
        </div>  
    </div>                         
    {% endif %}
    
    <form class="main_form" method="post">
        {% csrf_token %}
        
        <div class="form-floating">
            <input type="password" class="form-control" id="new_password1" placeholder="Password" name="new_password1">
            <label for="new_password1">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="new_password2" placeholder="Repeat Password" name="new_password2">
            <label for="new_password2">Confirm Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Confirm</button>
    </form>

    {% else %}
    <form class="sign_up_form" method="post">
        <div class="main-text" style="margin-bottom:1rem;">Reset Password</div>
        <div class="text">The password reset link was invalid,</div>
        <div class="text">possibly because it has already been used.</div>
        <div class="text mb-2">Please request a new password reset <a href="/accounts/password_reset" style="text-decoration:none;font-weight:800;" class="fs-4">Here</a>
    </form>
    {% endif%}
  
</main>



