{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %} 
{% load humanize %}

{% block page_title %} 
  <i class="bi bi-minecart"></i> Project
{% endblock %}
{% block content %}

<div class="position-relative" style="width: 100%">
  <table class="table align-middle table-hover table-striped data_table" id="doi">
    <thead class="table-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Project Code</th>
        <th scope="col">Project Name</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Project Manager</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Project Fee</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for row in project %}
      <tr>
        <td>{{row.id|default_if_none:"&nbsp;"}}</td>
        <td>
          <a href="{% url 'project_detail' row.id %}" >
            {{row.project_code|default_if_none:"&nbsp;"}}
          </a>
        </td>
        <td>{{row.project_name|default_if_none:"&nbsp;"}}</td>
        <td>{{row.fk_company_id.company_name|default_if_none:"&nbsp;"}}</td>
        <td>{{row.fk_project_manager_id.employee_code|default_if_none:"&nbsp;"}}</td>
        <td>{{row.start_date|default_if_none:"&nbsp;"|date:"Y-m-d"}}</td>
        <td>{{row.end_date|default_if_none:"&nbsp;"|date:"Y-m-d"}}</td>
        <td>{{row.original_project_fee|default_if_none:"&nbsp;"|intcomma}}</td>
        <td>
          {% if perms.project.change_project %}
          <a
            class="btn btn-success btn-block"
            href="{% url 'project_edit' row.id %}"
            ><i class="bi bi-pencil"></i
          ></a>
          {% endif %}
          {% if perms.project.delete_project %}
          <button
            type="button"
            class="btn btn-danger btn-block"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            onclick="delete_row(this)"
            href="{% url 'project_delete' row.id %}"
          >
            <i class="bi bi-trash3"></i>
          </button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="mb-2">
    <div class="d-flex flex-row">
      <div class="p-2">
        {% if perms.project.add_project %}
        <a class="btn btn-success" href="{% url 'project_create' %}">
          Add Project
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Project</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this project?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            No
          </button>
          <a type="button" class="btn btn-primary" id="confirm_delete_button"
            >Yes</a>
        </div>
      </div>
    </div>
  </div>

  <style>
    div.fixed {
      left: 200px;
      position: fixed;
      width: 50%;
      bottom: 10px;
    }
  </style>

  <script>
    function listCheckBoxes() {
      var checkedBoxes = document.querySelectorAll(
        "input[name=mycheckboxes]:checked"
      );
      console.log(checkedBoxes);
    }

    function delete_row(selected_row) {
      console.log(selected_row);
      document.getElementById("confirm_delete_button").href = selected_row.getAttribute("href");
    }
  </script>
  {% endblock %}
</div>
