{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}

{% block page_title %}
    {% if request.resolver_match.view_name == 'project_phase_forecast_revenue_edit' %}
        <i class="bi bi-pencil-square"></i>  Edit Forecast Revenue
    {% elif request.resolver_match.view_name == 'project_phase_forecast_revenue_create'%} 
        <i class="bi bi-plus-square"></i> Add Forecast Revenue
    {% endif %} 
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
       <div class="col-md-2">
          {{ field.label_tag }}
          {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
          {% endif %}
          {% for error in field.errors %}
          <div class="row">
             <div class="alert alert-danger">{{error}}</div>
          </div>
          {% endfor %}
       </div>
    
       <div class="col-md-10 mb-4 pull-left">
          {% if field.field.widget.input_type == "date" or field.html_name == "phase_start_date"  or field.html_name == "date" %}
          {% render_field field class+="datepicker form-control" type="date" %}
          {% elif field.field.widget.input_type == "text" or field.field.widget.input_type == "email" or field.field.widget.input_type == "number"%}
          {% render_field field class+="form-control" %}
          {% elif field.field.widget.input_type == "select" %}
          {% render_field field class+="form-select" %}
          {% elif field.field.widget.input_type == "checkbox" %}
          {% render_field field class+="form-check" %}
          {% else %}
          {{field}}
          {% endif %}
       </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <a class='btn btn-danger'href="{% url 'project_phase_detail' pk=phase_id %}">Go back</a>
    
            {% if request.resolver_match.view_name == 'project_phase_forecast_revenue_create'%} 
            <input class="btn btn-success block" type="submit" value="Add Forecast Revenue">
            {% else %}
            <input class="btn btn-primary block" type="submit" value="Save Changes">
            {% endif %} 
    
    
        </div>
    </div>
 </form>
{% endblock %}