{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}
<div class="row py-2 aligns-items-center" >
    <div class="col-sm-3">
       <a href="{% url 'dashboard' %}" style="text-decoration:None">
          <img src={% static "head/return-arrow.svg" %} style="height:23px;top:-4px;margin-right:5px;color:#293D9B" class="position-relative"/>
          <span class="fs-3" style="color:#293D9B">Back to Admin Panel</span>
      </a>
    </div>
    <div class="col-sm-6 text-center fs-2" style="font-weight:500">Registered Email</div>
 </div>{% endblock %}

{% block content %}

<div class="table-hover">
    <table class="table align-middle table-hover" id="register_email">
        <thead class="table-dark">
            <tr>
                <th scope="col"><input class="form-check-input" type="checkbox" value="" id="select_all_options" ></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for row in register_email %}
            <tr>
                <td><input class="form-check-input" type="checkbox" value="" id="{{row.id}}" name="mycheckboxes"></td>
                <td>{{row.name}}</td>
                <td>{{row.email_address|default_if_none:"&nbsp;"}}</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <a href='{%url 'register_edit' row.id %}' class="text-success" style="text-decoration:None"><button type="button" class="btn btn-success btn-block"><i class="bi bi-pencil"></i></button></a>
                        <a href='{% url 'register_delete' row.id %}' class="text-danger" style="text-decoration:None"><button type="button" class="btn btn-danger btn-block"><i class="bi bi-trash3"></i></button></a>
                     </div>
                 </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


<div class="fixed mb-5">
    <div class="d-flex flex-row">
       <div class="p-2"><a class='btn btn-success' href="{% url 'give_email_permission' %}"> Add Account </a></div>
    </div>
</div>

{% endblock %}